doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 hello 
            p world 
            div.container 
                a(href="#") google.com
                ul 
                    li First element
                    li.class1 
                    li#id1
                    li.class2#id2(style='font-size:100px') This is another list element


